<% include partials/header.ejs %>

	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/navbar.css">
	<link rel="stylesheet" href="css/page-header-css/main.css">
	<link rel="stylesheet" href="css/gallery.css">
	<link rel="stylesheet" href="css/footer.css">
</head>

<!-- This article container is the header for each file -->
<article class="jumbotron d-flex flex-wrap justify-content-center tinted-image py-0 mb-0">
	<% include partials/navbar.ejs %>
	<div class="container-fluid align-self-center pb-5">
		<h1 class="text-center main-header">Eventos</h1>
	</div>
	<div class="d-flex justify-content-center align-items-end pb-2 w-100">
		<i class="far fa-arrow-alt-circle-down" style="font-size: 3rem; color: #fff;"></i>
	</div>
</article>

<div class="container">
	<div class="pt-3 text-center">
		<!-- <% console.log(users) %> -->
		<% if (pastorLoggedIn) { %>
			<a href="/eventos/form">
				<button class="btn btn-light btn-lg mx-1 yellow-btn">Agregar evento</button>
			</a>
		<% } else { %>
			<p>NAHHH</p>
			<% } %>
	</div>
	<% events.forEach((event) => { %>
	<div class="row py-5">
		<div class="col-9 d-inline">
				
				<% if (event.image.length === 0) { %>
					<span style="display: none;"></span>
					<% } else { %>
						<img src="<%=event.image%>" alt="nuestro credo image" class="img-thumbnail img-fluid">
					<% } %>
				<% if (event.name.length === 0) { %>
					<span style="display: none;"></span>
					<% } else { %>
					<p><strong><em>Nombre del Evento:</em></strong> <%=event.name%></p>
					<% } %>

				<% if (event.description.length === 0) { %>
					<span style="display: none;"></span>
					<% } else { %>
						<p><strong><em>Descripción del Evento:</em></strong> <%=event.description%></p>
					<% } %>

				<div class="container embed-responsive embed-responsive-16by9">
							<iframe width="560" height="315" src="<%=event.youtubeVideo%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>

				
				<div class="text-center d-flex justify-content-center">
						<% if (pastorLoggedIn) { %>
							<a class="btn btn-light btn-lg mx-1 outline-btn" href="/eventos/<%=event._id%>/edit">Corregir</a>
						<% } %>
      				<form id="delete" action="/eventos/<%=event._id%>/delete?_method=DELETE" method="POST">
								<% if (pastorLoggedIn) { %>
									<button class="btn btn-light btn-lg mx-1 yellow-btn">Borrar</button>
								<% } %>				
      				</form>
				</div>
			</div>
		</div>
		<% }); %>
	</div>

<% include partials/footer.ejs %>



	